@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
.App {
  text-align: center;
}
body {
  background-color: rgb(230, 235, 248);
  font-family: 'Roboto', sans-serif;
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
