.footer_container{
    background-color:  #041C32;
    margin-top: 20px;
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    margin-top: 50px;
}

.footer_container p {
    color: #FFF1BD;
    font-weight: 500;
    z-index: 999;
    margin: 0;
    padding: 0;
}
.footer_container i {
    color: #F14A16;
    font-size: 16px;
    margin: 0;
    padding: 0;
}