


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 32px;
    padding: 10px 10%;
    align-items: center;
    background-color: #041C32;
    box-shadow:0 4px 2px -2px #FFF1BD;
    z-index: 9;
}
.logo {
    border: 3px solid #F14A16;
    padding: 5px;
    background-color: #FFF1BD;
    border-radius: 5px;
}

.link-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.link {
    color: #FFF1BD;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;

}
.link:hover {
    color: #F14A16;
}

.cart_icon{
    color: #FFF1BD;
    margin: 0 10px;
    font-size: 18px;

}
.cart_icon:hover {
    color: #F14A16;
}
.cart_icon sup {
    font-size: 12px;
}
.logoutbtn{
    background-color: #041C32;
    color: #FFF1BD;
    font-weight: 500;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;

}
.logoutbtn:hover {
    background-color: #F14A16;
}
.logolink{
    color: inherit;
    text-decoration: none;
}