.sidenavigate{
    background-color: #FFF1BD;
    box-shadow: 0px 0px 2px 2px #EA5C2B;
    height: fit-content;
    position: sticky;
    top: 120px;
}
.sidenavigate > div {
    border-bottom: 1px solid lightgray;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    color: #EA5C2B;
    cursor: pointer;
}